# Игнорировать виртуальные окружения
.env

venv/
__pycache__/

# Игнорировать файлы базы данных SQLite
db.sqlite3

# Игнорировать pyc файлы
*.pyc

# Игнорировать сгенерированные файлы документации
*.log

# Игнорировать файлы IDE
.idea/
.vscode/